body{
    margin: 0;
    padding: 0;
}
span {
    font-style: italic;
}
/* content */
.listconteiner {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 20px;
}
.listconteiner>p{
    text-align: center;
    font-weight: bold;
}


.img-conteiner{
   float:right;
   padding: 5px;
   border-style: solid;
   border-width: 0.5px;
   margin-left: 10px;
}
.img-conteiner>div{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.logo-html {
    width: 70px;

}

/* верхняя навигац панель */
.nav-conteiner{
    display: flex;
    justify-content: space-between;
    background-color: rgb(182, 210, 230);
}
.nav-conteiner>nav>ul{
display: flex;
list-style: none;
align-items: center;
margin: 0;
padding: 0;

}
.nav-conteiner>nav>ul>li>a{
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}


@media (max-width: 900px){
    .nav-conteiner {
        flex-direction: column;

    }
}
.text-page {
    padding-left: 15px;
}

.page{
    display: flex;
justify-content: center;
}
.header {
    width: 14%;
background-color: rgb(233, 235, 234);
}

.section {
    width: 82%;

}
.header>ol{
    list-style: none;
    border-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding: 0;
    padding-bottom: 1px;

}
.header>div>img{
    width: 100%;
}